body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-color: #fff;
    line-height: 1.6;
}

a {
    color: #0067cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #f4f4f4;
    color: #333;
    padding: 20px 0;
    text-align: center;
}

#navbar {
    overflow: hidden;
    justify-content: center;
    margin-bottom: 20px;
}

#navbar a {
    float: left;
    display: block;
    text-decoration: none;
    margin: 0 15px;
    text-transform: uppercase;
}

@media (max-width: 700px) {
    .container {
        width: 95%;
    }

    #navbar {
        overflow: hidden;
    }

    #navbar a {
        float: left;
        display: block;
        margin-bottom: 10px;
        text-decoration: none;
    }
}

/* Sidebar Styles */
#sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #f9f9f9; /* Lighter background */
    border-right: 1px solid #ddd; /* Add a border */
}

#sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px; /* Smaller font size */
    color: #333; /* Darker font color for contrast */
    display: block;
}

#sidebar a:hover {
    background-color: #eaeaea; /* Slight change in background on hover */
}

/* Adjust main content area */
.main {
    margin-left: 210px; /* Adjust based on sidebar width */
    padding: 20px;
}

footer {
    background: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
