body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color: #330000; /* Dark red background */
    line-height: 1.6;
}

a {
    color: #ff6666; /* Lighter red for links */
    text-decoration: none;
}

a:hover {
    color: #ff9999; /* Even lighter red on hover */
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #660000; /* Slightly darker red for the header */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

navbar a {
    float: left;
    display: block;
    color: #fff;
    margin: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
}

footer {
    background: #660000; /* Same as header */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.button {
    background-color: #990000; /* Rich red for buttons */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.button:hover {
    background-color: #cc0000; /* Lighter red for hover */
}

@media (max-width: 700px) {
    .container {
        width: 95%;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        margin-bottom: 10px;
    }
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
}

.main {
    margin-left: 200px;
    padding: 0px 10px;
}