body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-color: #fff;
    line-height: 1.6;
}

a {
    color: #0067cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #f4f4f4;
    color: #333;
}


header a {
    text-decoration: none;
    margin: 0 15px;
    text-transform: uppercase;
}

@media (max-width: 700px) {
    .content {
        width: 95%;
    }
}


footer {
    background: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}
header {
    padding: 1em 0;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

header a {
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
}

.content {
    padding: 50px 20px;
}
