body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color: #330000; /* Dark red background */
    line-height: 1.6;
}

a {
    color: #ff6666; /* Lighter red for links */
    text-decoration: none;
}

a:hover {
    color: #ff9999; /* Even lighter red on hover */
    text-decoration: underline;
}

.content {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #660000;
    color: #fff;
    padding: 20px 0;
}


footer {
    background: #660000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.button {
    background-color: #990000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.button:hover {
    background-color: #cc0000;
}

@media (max-width: 700px) {
    .content {
        width: 95%;
    }
}

header {
    padding: 1em 0;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

header a {
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
}

.content {
    padding: 50px 20px;
}
